@import "utils/variables";
@import "utils/mixins";
@import "utils/reset";
@import "elements/main";
@import "elements/article";

body {
  line-height: 1.6;
  font-size: var(--step-1);
  color: var(--fg);
  font-family: "Noto Sans Deseret", sans-serif;

  background-color: var(--bg);
  transition: background-color 300ms;
}

h1,
h2,
h3,
time {
  font-family: "Noto Sans Glagolitic", sans-serif;
}

ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}

:any-link {
  color: var(--fg);
  text-decoration: none;

  &:hover {
    color: var(--blue);
  }
}

#__nuxt {
  @include max-content();
  margin-inline: auto;

  & > div {
    min-height: 100vh;
    min-height: 100dvh;
    padding-block: 1rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.tag {
  &:before {
    // font-style: italic;
    font-size: 0.8em;
    content: "#";
    color: inherit;
  }
}

time {
  display: block;
  color: var(--fg-secondary);
}

.link-forward,
.link-backward {
  display: block;
  color: var(--blue);
  margin-top: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

.link-forward::after {
  content: " →";
}

.link-backward::before {
  content: "← ";
}

.post-list {
  list-style: none;
  @include flow(4em);
}

.tag-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
