@import "utils/variables";
@import "utils/mixins";
@import "utils/reset";
@import "elements/header";
@import "elements/main";
@import "elements/article";
@import "elements/footer";

body {
  line-height: 1.6;
  font-size: var(--step-1);
  color: var(--fg);
  font-family: "Noto Sans";

  background-color: var(--bg);
  transition: background-color 300ms;
}

ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}

:any-link {
  color: var(--fg);
  text-decoration: none;

  &:hover {
    color: var(--blue);
  }
}

#__nuxt {
  width: clamp(16rem, 90vw, 80ch);
  margin-inline: auto;

  & > div {
    min-height: 100vh;
    min-height: 100dvh;
    padding-block: 1rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.tag {
  &:before {
    // font-style: italic;
    font-size: 0.8em;
    content: "#";
    color: inherit;
  }
}

time {
  display: block;
  color: var(--fg-secondary);
}
