@import "utils/variables";
@import "utils/mixins";
@import "utils/reset";
@import "elements/header";
@import "elements/main";
@import "elements/footer";

body {
  min-height: 100vh;
  min-height: 100dvh;

  line-height: 1.6;
  font-size: var(--step-1);
  color: var(--fg);
  font-family: "Noto Sans";

  background-color: var(--bg);
  transition: background-color 300ms;
}

ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}

footer ul {
  flex-wrap: wrap;
}

:where(h1, h2, h3) {
  line-height: 1.1;
  max-width: 20ch;
  font-family: Lato;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--blue);
}

:any-link {
  color: var(--fg);
  text-decoration: none;

  &:hover {
    color: var(--blue);
  }
}

#__nuxt {
  width: clamp(16rem, 90vw, 80ch);
  margin-inline: auto;
  margin-block: 1rem;
}
