.article-info {
  font-size: var(--step-1);
  & > div {
    display: flex;

    & time::after {
      content: "–";
      display: inline-block;
      padding-inline: 0.3rem;
    }
  }
}

.article-tags {
  display: flex;
  list-style: none;
  gap: 0.4rem;
}

.article-content {
  margin-top: 1rem;
  @include flow(1.4em);
  @include max-content();
}

.article-content :where(li + li) {
  margin-top: 0.2em;
}

pre {
  background-color: var(--bg-secondary);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: var(--step-1);
  overflow-x: auto;
}

:not(pre) > code {
  display: inline-block;
  padding-inline: 0.2rem;
  background-color: var(--bg-secondary);
  font-size: inherit;
}

blockquote p {
  max-width: 40ch;
  font-size: var(--step-2);
  color: var(--fg-secondary);
  font-style: italic;

  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}

.article-content :any-link {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

sup a {
  margin-inline: 0.1em;
}

.footnotes ol {
  margin-top: 1.4em;
  @include flow(0.4em);
}
