footer {
  font-size: var(--step-0);
  text-align: center;

  hr {
    margin-bottom: 0.5rem;
    border: none;
    height: 1px;
    opacity: 0.4;
    background: linear-gradient(
      to right,
      transparent 25%,
      var(--blue),
      transparent 75%
    );
  }

  & ul {
    margin-top: 0.2rem;
    display: flex;
    gap: 0.1rem 1rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
  }
}

footer :any-link {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}
