header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem 3rem;
  font-family: Lato;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.site-name {
  font-size: var(--step-2);
}
