main {
  margin-block: 4rem 1.5rem;
}

h1,
h2 {
  line-height: 1.1;
  font-family: Lato;
}

h1 {
  font-size: var(--step-3);
  max-width: 30ch;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--step-2);
  max-width: 45ch;
}
