---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <main>
    <article class="flow center post">
      <h1>{frontmatter.title}</h1>
      <time datetime={frontmatter.date} class="date">2022-03-11</time>
      <p>{frontmatter.description}</p>
      <p><slot /></p>
    </article>
  </main>
</BaseLayout>
